<div class="container">
    <h2>Cadastro de Usuário</h2>
    <form>
      <div class="form-group">
        <label for="id">ID:</label>
        <input id="id" formControlName="id" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input id="nome" formControlName="nome" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="sobrenome">Sobrenome:</label>
        <input id="sobrenome" formControlName="sobrenome" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="idade">Idade:</label>
        <input id="idade" formControlName="idade" type="number" class="form-control">
      </div>
      <div class="form-group">
        <label for="telefone">Telefone:</label>
        <input id="telefone" formControlName="telefone" type="tel" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="tipo">Tipo:</label>
        <input id="tipo" formControlName="tipo" type="text" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>

    <table>
      <tr>
        <th>Ação</th>
        <th>Id</th>
        <th>Nome</th>
        <th>sobrenome</th>
        <th>Idade</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Tipo</th>

    </tr>
      <tr>
        <td><button>Excluir</button></td>
        <td>1</td>
        <td>Cecilus</td>
        <td>Segmund</td>
        <td>21</td>
        <td>4799207653</td>
        <td>cecilussegmund.com</td>
        <td>Analfabeto</td>
      </tr>
    </table>
</div>
    