

.container {
    width: 40vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to left, red, black, purple, blue );
    background-size: 500% 100%;
    animation: degrade 5s infinite alternate;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(227, 199, 199, 0.1);
    color: white;
    position:absolute;
    top:0;
    right: 25vw;

}
@keyframes degrade{
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 100%;
  }
}

h1 {
    text-align: center;
}

form{
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e61037;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #fb0505;
}

.relatorio {
    margin-top: 20px;
    padding: 10px;
    background: #e9ecef;
    border: 1px solid #ccc;
    border-radius: 4px;
}