<!-- Cabeçalho -->
<header>
  <div class="container">
    <img src="/assets/logo.png" class="logo"/>
    <h1>kyubu Store</h1>
    <nav>
      <ul>
        <li><a routerLink="/login">Login</a></li>
        <li><a href="#">Produtos</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="https://docs.google.com/document/d/1WLfmndeGuHwOTOioa5MlDlh1Q4wqg3eHtOTPcmk53Ss/edit">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- Destaque -->
<section class="hero">
  <div class="content">
    <div class="slides">
      <input type="radio" name="slide" id="slide1"checked />
      <input type="radio" name="slide" id="slide2"/>
      <input type="radio" name="slide" id="slide3"/>
      <input type="radio" name="slide" id="slide4"/>
      <input type="radio" name="slide" id="slide5"/>

      <div class="slide s1">
        <img src="assets/2x2.png" alt="Cubo Mágico Profissional-2x2" />
      </div>
      <div class="slide 2">
        <img src="assets/3x3.png" alt="Cubo Mágico Profissional-3x3" />
      </div>
      <div class="slide 3">
        <img src="assets/5x5.png" alt="Cubo Mágico Profissional-5x5" />
      </div>
      <div class="slide 4">
        <img src="assets/15x15.png" alt="Cubo Mágico Profissional-15x15" />
      </div>
      <div class="slide 5">
        <img src="assets/phantom.png" alt="Cubo Mágico Phantom" />
      </div>
    </div>
    <div class="navigation">
      <label class="bar" for="slide1"></label>
      <label class="bar" for="slide2"></label>
      <label class="bar" for="slide3"></label>
      <label class="bar" for="slide4"></label>
      <label class="bar" for="slide5"></label>
    </div>
  </div>
</section>

<!-- Produtos -->
<main>
  <div class="container">
    <h2>Produtos em Destaque</h2>
    <div class="product-list">
      <div class="product">
        <img src="/assets/3x3.png" alt="Produto 1" />
        <div class="sketchfab-embed-wrapper">
          <iframe
            title="The rubik's cube [high-poly] - by smakologg"
            frameborder="0"
            allowfullscreen
            mozallowfullscreen="true"
            width="40%"
            height="90%"
            webkitallowfullscreen="true"
            allow="autoplay; fullscreen; xr-spatial-tracking"
            xr-spatial-tracking
            execution-while-out-of-viewport
            execution-while-not-rendered
            web-share
            src="https://sketchfab.com/models/3527bfcda2e1492395142423021c3ff2/embed"
          >
          </iframe>
        </div>
        <h3>Cubo Mágico Magnético 3x3</h3>
        <p>....</p>
        <p class="price">R$23,99</p>
        <a href="#" class="btn">Comprar Agora</a>
      </div>
      <div class="product">
        <img src="/assets/phantom.png" alt="Produto 2" />
        <h3>Cubo Phantom</h3>
        <p>Nem eu sei kk ;-;.</p>
        <p class="price">R$58,000,654</p>
        <a
          href="https://www.amazon.com.br/CUBER-Cubo-M%C3%A1gico-Profissional-2x2/dp/B084C91FW6/ref=asc_df_B084C91FW6/?tag=googleshopp00-20&linkCode=df0&hvadid=411437223294&hvpos=&hvnetw=g&hvrand=12020123543180679270&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9074132&hvtargid=pla-891810055679&psc=1&mcid=8a4f94d0fca43ddeb3e86dc08277625c"
          class="btn"
          >Comprar Agora</a
        >
      </div>
      <div class="product">
        <img src="/assets/2x2.png" alt="Produto 3" />
        <h3>Cubo Mágico Profissonal 2x2</h3>
        <p>Nem eu sei kk ;-;.</p>
        <p class="price">R$24</p>
        <a
          href="https://www.amazon.com.br/CUBER-Cubo-M%C3%A1gico-Profissional-2x2/dp/B084C91FW6/ref=asc_df_B084C91FW6/?tag=googleshopp00-20&linkCode=df0&hvadid=411437223294&hvpos=&hvnetw=g&hvrand=12020123543180679270&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9074132&hvtargid=pla-891810055679&psc=1&mcid=8a4f94d0fca43ddeb3e86dc08277625c"
          class="btn"
          >Comprar Agora</a
        >
      </div>
      <div class="product">
        <div class="sketchfab-embed-wrapper">
          <iframe
            title="Rubik's Cube 12 Face"
            frameborder="0"
            allowfullscreen
            mozallowfullscreen="true"
            webkitallowfullscreen="true"
            allow="autoplay; fullscreen; xr-spatial-tracking"
            xr-spatial-tracking
            execution-while-out-of-viewport
            execution-while-not-rendered
            web-share
            src="https://sketchfab.com/models/869f91b6fae7465d997a9571538d1170/embed"
          >
          </iframe>
        </div>
        <img src="/assets/12.png" alt="Produto 4" />
        <h3>Cubo Mágico Profissonal 12 lados</h3>
        <p>Nem eu sei kk ;-;.</p>
        <p class="price">R$78</p>
        <a
          href="https://www.amazon.com.br/CUBER-Cubo-M%C3%A1gico-Profissional-2x2/dp/B084C91FW6/ref=asc_df_B084C91FW6/?tag=googleshopp00-20&linkCode=df0&hvadid=411437223294&hvpos=&hvnetw=g&hvrand=12020123543180679270&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9074132&hvtargid=pla-891810055679&psc=1&mcid=8a4f94d0fca43ddeb3e86dc08277625c"
          class="btn"
          >Comprar Agora</a
        >
      </div>
      <div class="product">
        <div class="sketchfab-embed-wrapper"> <iframe title="3x3 Pyraminx" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/a8050ab6dbf043d482729756f1e6d828/embed"> </iframe> <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"></div>
        <img src="/assets/5x5.png" alt="Produto 5" />
        <h3>Cubo Mágico Profissonal 5x5</h3>
        <p>Nem eu sei kk ;-;.</p>
        <p class="price">R$34</p>
        <a
          href="https://www.amazon.com.br/CUBER-Cubo-M%C3%A1gico-Profissional-2x2/dp/B084C91FW6/ref=asc_df_B084C91FW6/?tag=googleshopp00-20&linkCode=df0&hvadid=411437223294&hvpos=&hvnetw=g&hvrand=12020123543180679270&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9074132&hvtargid=pla-891810055679&psc=1&mcid=8a4f94d0fca43ddeb3e86dc08277625c"
          class="btn"
          >Comprar Agora</a
        >
      </div>
      <div class="product">
        <img src="/assets/15x15.png" alt="Produto 6" />
        <h3>Cubo Mágico 15x15</h3>
        <p>Nem eu sei kk ;-;.</p>
        <p class="price">R$80</p>
        <a
          href="https://www.amazon.com.br/CUBER-Cubo-M%C3%A1gico-Profissional-2x2/dp/B084C91FW6/ref=asc_df_B084C91FW6/?tag=googleshopp00-20&linkCode=df0&hvadid=411437223294&hvpos=&hvnetw=g&hvrand=12020123543180679270&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9074132&hvtargid=pla-891810055679&psc=1&mcid=8a4f94d0fca43ddeb3e86dc08277625c"
          class="btn"
          >Comprar Agora</a
        >
      </div>

      <div class="product">
        
        <img src="/assets/pyranmix.png" alt="Produto 7" />
        <h3>Pyraminx</h3>
        <p>Nem eu sei kk ;-;.</p>
        <p class="price">R$38</p>
        <a
          href="https://www.amazon.com.br/CUBER-Cubo-M%C3%A1gico-Profissional-2x2/dp/B084C91FW6/ref=asc_df_B084C91FW6/?tag=googleshopp00-20&linkCode=df0&hvadid=411437223294&hvpos=&hvnetw=g&hvrand=12020123543180679270&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9074132&hvtargid=pla-891810055679&psc=1&mcid=8a4f94d0fca43ddeb3e86dc08277625c"
          class="btn"
          >Comprar Agora</a
        >
      </div>
      <div class="product">
        <img src="/assets/square.png" alt="Produto 8" />
        <h3>Cubo Mágico Square</h3>
        <p>Nem eu sei kk ;-;.</p>
        <p class="price">R$50</p>
        <a
          href="https://www.amazon.com.br/CUBER-Cubo-M%C3%A1gico-Profissional-2x2/dp/B084C91FW6/ref=asc_df_B084C91FW6/?tag=googleshopp00-20&linkCode=df0&hvadid=411437223294&hvpos=&hvnetw=g&hvrand=12020123543180679270&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9074132&hvtargid=pla-891810055679&psc=1&mcid=8a4f94d0fca43ddeb3e86dc08277625c"
          class="btn"
          >Comprar Agora</a
        >
      </div>

      <!-- Adicione mais produtos conforme necessário -->
    </div>
  </div>
</main>

<!-- Rodapé -->
<footer>
  <div class="container">
    <p>&copy; 2024 Kyubu Store. Todos os direitos reservados.</p>
  </div>
</footer>
