
    <img src="/assets/logo.png" class="logo"/> 

    <nav>
       
        <details>
            <summary>Administração</summary>
            <div>
                <a routerLink="/usuario">Cadastro de usuários</a>
            </div>
        </details>
        <details>
            <summary>Produtos</summary>
            <div>
                <a>Cadastrar Produtos</a>
            </div>
            <div>
                <a>Movimentar Produtos</a>
            </div>
        </details>
        <details>
            <summary routerLink="/catalogo">Logout</summary>
        </details>
    </nav>
</section>

