<section>
    <img src="/assets/logo.png" class="logo"/> 

    <nav>
       
        <details>
            <summary>Administração</summary>
            <div>
                <a routerLink="/usuario">Cadastro de usuários</a>
            </div>
        </details>
        <details>
            <summary>Produtos</summary>
            <div>
                <a routerLink="/produtos">Cadastrar Produtos</a>
                <a routerLink="/mov_produtos">Movimentar Produtos</a>
            </div>
        </details>
        <details>
            <summary routerLink="/catalogo">Logout</summary>
        </details>
    </nav>

</section>
