/* You can add global styles to this file, and also import other style files */
body,html{
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to left, rgb(183, 10, 10), rgb(174, 18, 18), rgb(75, 7, 7),rgb(0, 0, 0) );
    background-size: 500% 100%;
    animation: degrade 3s infinite alternate;
}
@keyframes degrade{
    0%{
      background-position-x: 0%;
    }
    100%{
      background-position-x: 100%;
    }
  }